<h1>All Recipes</h1>
<% @recipes.each do |recipe| %>
  <h2>Title: <%= recipe["title"] %></h2>
  <h3>Chef: <%= recipe["chef"] %></h3>
  <h3>Prep Time: <%= recipe["formatted"]["prep_time"] %></h3>
  <h4>Ingredients: <%= recipe["ingredients"] %></h4>
  <h4>Directions: <%= recipe["directions"] %></h4>
  <br>
<% end %>